<ng-template appPlaceholder></ng-template>
<div class="row">
  <div class="col-xs-12">
    <form [formGroup]="landmarkForm" (ngSubmit)="onSubmit()">
      <div class="row">
        <div class="col-xs-12">
          <button
            type="submit"
            class="btn btn-success"
            [disabled]="!landmarkForm.valid || !fileName"
          >
            Save
          </button>
          <button type="button" class="btn btn-danger" (click)="onCancel()">
            Cancel
          </button>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="title">Title</label>
            <input
              type="text"
              id="title"
              formControlName="title"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="name">Link to landmark</label>
            <input
              type="url"
              id="link"
              formControlName="link"
              class="form-control"
            />
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <div class="form-group">
            <label for="info">Info</label>
            <textarea
              type="text"
              id="info"
              class="form-control"
              formControlName="info"
              rows="6"
            ></textarea>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <input
        style="display: none"
        type="file"
        (change)="onFileSelected($event)"
        #fileInput
        accept="image/*"
      />
      <h4 *ngIf="fileName"> The Selected File Is: {{ fileName }} </h4>
      <button class="btn btn-success" (click)="fileInput.click()">Select File</button>
    </div>
  </div>
</div>
