<nav class="navbar navbar-default" style="background-color: rgba(0, 0, 0, 0.349);">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" style="color: white;" routerLink="/">Landmarks Book</a>
      <button
        type="button"
        class="navbar-toggle"
        (click)="isCollapsed = !isCollapsed"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
    <div class="navbar-collapse" [ngClass]="isCollapsed ? 'collapse' : ''">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active">
          <a style="color: black;" routerLink="/landmarks">Landmarks</a>
        </li>
        <li routerLinkActive="active" *ngIf="!isAuthenticated">
          <a style="color: black;" routerLink="/auth">Login</a>
        </li>
        <li routerLinkActive="active" *ngIf="isAuthenticated">
          <a style="cursor: pointer" (click)="onLogout()">Logout</a>
        </li>
      </ul>
      <form class="navbar-form navbar-left">
        <div class="form-group">
          <input
            type="text"
            class="form-control"
            placeholder="Search"
            (change)="searchText = $event.target.value"
          />
        </div>
        <!-- Order By field -->
        <div class="btn-group" appDropdown style="margin-left: 5px">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            Order By {{ sortBy | titlecase }}
          </button>
          <ul class="dropdown-menu">
            <li *ngFor="let option of options">
              <a style="cursor: pointer" (click)="sortBy = option.value"
                >{{ option.label }}
              </a>
            </li>
          </ul>
          <!-- Search Order -->
        </div>
        <div class="btn-group" appDropdown style="margin-left: 5px">
          <button
            class="btn btn-primary dropdown-toggle"
            type="button"
            data-toggle="dropdown"
          >
            {{ ascendingOrder ? "Ascending" : "Descending" }}
          </button>
          <ul class="dropdown-menu">
            <li>
              <a style="cursor: pointer" (click)="sortDataAccenting()">
                Ascending
              </a>
            </li>
            <li>
              <a style="cursor: pointer" (click)="sortDataDescending()">
                Descending
              </a>
            </li>
          </ul>
        </div>
        <!-- submit button -->
        <button
          style="margin-left: 5px"
          type="submit"
          class="btn btn-success"
          (click)="onSearch()"
        >
          Submit
        </button>
      </form>
    </div>
  </div>
</nav>
